[package]
name = "trashy_bot"
version = "0.2.0"
authors = ["Denis Richartz <denisrichartz92@gmail.com>"]
edition = "2018"

[dependencies]
kankyo = "0.2.0"
rand = "0.6"
diesel = { version = "1.0.0", features = ["postgres", "chrono"] }
chrono = "*"
log = { version = "0.4", features = ["max_level_debug", "release_max_level_info"] }
fern = "0.5"
regex = "1"
lazy_static = "1.3.0"
itertools = "0.8.0"
serde = "1"
serde_derive = "1"
serde_json = "1"

[dependencies.serenity]
version = "0.5.12"
default-features = false
features = [
    "builder",
    "cache",
    "client",
    "framework",
    "gateway",
    "http",
    "model",
    "standard_framework",
    "utils",
] # unused features [ "voice" ]