[package]
name = "trashy_bot"
version = "0.3.0"
authors = ["Denis Richartz <denisrichartz92@gmail.com>"]
edition = "2018"

[profile.release]
lto = "fat"
codegen-units = 1

[dependencies]
rand = "0.7"
chrono = "0.4"
regex = "1"
once_cell = "1.4"
itertools = "0.9.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
reqwest = { version = "0.10", default-features = false, features = ["json", "rustls-tls", "stream"] }
tokio = { version = "0.2", features = ["full"] }
futures = "0.3"
sqlx = { version = "0.4", default-features = false, features = [ "runtime-tokio-rustls", "macros", "postgres", "chrono", "json" ] }
tracing = "0.1"
tracing-subscriber = { version = "0.2.3", features = ["env-filter"] }
tracing-futures = "0.2.3"
tantivy = "0.13"
toml = "0.5"

[dependencies.serenity]
version = "0.9.0"
default-features = false
features = [
    "builder",
    "cache",
    "collector",
    "client",
    "framework",
    "gateway",
    "http",
    "model",
    "standard_framework",
    "utils",
    "rustls_backend",
]